*{margin: 0; padding: 0; box-sizing: border-box;}
header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #DADADA;
  color: black;
  padding: 15px;
  transition: transform 0.1s ease;
  z-index: 1000;
}
header.hidden
{
  transform: translateY(-100%);
}
main
{
  margin-top: 40px;
  padding: 30px;
  height: 200vh;
}
body
{
  background-color:#E6E6E6;
}
.right
{
  position: absolute;
  right: 20px;
}
.left
{
  position: absolute;
  left: 20px;
}
