*{margin:0;padding:0;box-sizing:border-box;}
header
{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background:#E0E1E2;
  color:black;
  padding:15px;
  transition:transform 0.1s ease;
  z-index:1000;
}
header.hidden
{
  transform:translateY(-100%);
}
main
{
  margin-top:40px;
  padding:30px;
  height:120vh;
}
body
{
  background-color:#F0F1F2;
}
.right
{
  position:absolute;
  right:20px;
}
.left
{
  position:absolute;
  left:20px;
}
