a:link{color:#0080ff;text-decoration:none;}
a:visited{color:#0080ff;text-decoration:none;}
a:hover{color:#0070de;text-decoration:none;}
a:active{color:#0070de;text-decoration:none;}

body{background-color:#e0e1e2;font-size:16px;}

p{font-family:Arial,Helvetica,sans-serif;line-height:1.5;margin:1rem 0;}
blockquote>p{margin:0;}

img{width:100%;}

header{
box-shadow:0 3px 5px #10111213;
position:fixed;
top:0;
left:0;
width:100%;
background:#d0d1d2;
color:black;
padding:15px;
}

.card{
display:block;
background-color:#f0f1f2;
border-radius:10px;
box-shadow:0 1px 10px #10111213;
box-sizing:border-box;
margin:5px;
padding:1.5em;
}

code{
font-family:"Fira Code","Fira Mono",Menlo,Consolas,"DejaVu Sans Mono",monospace;
background-color:#d0d1d240;
border:1px solid #e0e1e2;
border-radius:3px;
}
pre>code{
background-color:#ffffff00;
border:none;
border-radius:0px;
}

pre{
font-family:"Fira Code","Fira Mono",Menlo,Consolas,"DejaVu Sans Mono",monospace;
background-color:#d0d1d240;
border:1px solid #e0e1e2;
border-radius:3px;
overflow:auto;
}

blockquote{
padding:10px 10px;
margin:0 0 20px;
border-left:5px solid #e0e1e2;
}

h1.center{margin:0.5em 0;text-align:center;}
h2.center{margin:0.5em 0;text-align:center;}
h3.center{margin:0.5em 0;text-align:center;}
h4.center{margin:0.5em 0;text-align:center;}
h5.center{margin:0.5em 0;text-align:center;}
h6.center{margin:0.5em 0;text-align:center;}

h1.none{margin-top:0;margin-bottom:0;}
h2.none{margin-top:0;margin-bottom:0;}
h3.none{margin-top:0;margin-bottom:0;}
h4.none{margin-top:0;margin-bottom:0;}
h5.none{margin-top:0;margin-bottom:0;}
h6.none{margin-top:0;margin-bottom:0;}

h1{margin-bottom:0;}
h2{margin-bottom:0;}
h3{margin-bottom:0;}
h4{margin-bottom:0;}
h5{margin-bottom:0;}
h6{margin-bottom:0;}

@media screen and (max-width:768px){
main,nav{
float:none !important;
width:calc(100% - 10px) !important;
  }
}



